<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>

<style>
body{
    padding:0;
    margin:0;
    font-family:sans-serif ;
}
.main-header{
    width:100%;
    height:3.5rem;
    background-color:blue
}
.main-header-setitem{
    list-style:none;
    padding:0;
    margin:0;
}
.main-header__nav{
    height:100%;
    display:flex;
    align-items:center;

}
.main-header-items{
    text-decoration:none;
    color:white;

}
</style>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header-setitem">
                <li class="main-header-items"><a href='/'></a></li>
                <li class="main-header-items"><a href='/add-product'>Add product</a></li>
            </ul>
        </nav>
    </header>
    <h1>My Prodct</h1>
    <p>list of products are..</p>
    
</body>
</html>